<section id="contact" class="vh-75 w-100 dt contact bg-near-white">
  <div class="dtc v-mid">
    <h2 class="tc near-black f1">Get In Touch</h2>
    {% include hr.html %}
    <div class="pv4 ph3 tc">
      <a class="link green hover-silver dib mh3 tc" href="mailto:{{site.email}}?subject=feedback" title="email">
        {% include icons/contact/mail.svg %}
        <span class="f5 b db">roisin.garvey@greenparty.ie</span>
      </a>
      <a class="link green hover-silver dib mh3 tc" href="tel:087-4618777" title="GitHub">
        {% include icons/contact/phone.svg %}
        <span class="f5 b db ">083-4618777</span>
      </a>
    </div>
  </div>
</section>
