<header class="near-black dt vh-100 w-100 bg-light-gray cover" style="background: url('{{'/img/keep_in_the_ground.jpg' | prepend: site.baseurl}}') no-repeat center">
    <div class="dtc v-mid tc w-100">
      <div class="center">
          <img
              src="{{site.baseurl}}/img/avatar.jpg" class="br4 h5 w5 dib" alt="avatar">
      </div>

    <h1 class="f1 lh-solid mw8 center tc b mt6 ph5-ns white bg-green">{{site.header-headline}}</h1>
    <a href="#about" class="f3 ph4 pv3 mb2 dn dib-ns link no-underline br-pill dim bg-green ba b--green near-white page-scroll">Learn More about Róisín</a>
  </div>
</header>
